* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppin", sans-serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/66be7922881ea8c3bcb1bd40ba12a797.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.galaxy {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  position: relative;
  font-size: 5vw;
  color: transparent;
  -webkit-text-stroke: 0.1vw transparent;
  text-transform: uppercase;
}
h3::before
{
    content: attr( data-text );
    position: absolute;
    top 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw transparent;
    border-right: 1pw solid white;
    overflow: hidden;
    animation: animate ease 6s linear infinite;

}
@keyframes animate 
{
    0%, 10% ,100%
    {
      width: 0;
    }
    70% ,90%
    {
        width: 100;
    }
}